{
  "ecmaFeatures": {
    "jsx": true,
  },

  "env": {
    "browser": true,
    "es6": true
  },

  "rules": {
    "no-unused-vars": [2, {"vars": "local", "args": "after-used"}],
    "no-console": 0,
    "no-use-before-define": 0,
    "strict": 0,
    "new-cap": 0,
    "camelcase": 0,
    "quotes": 0,
    "no-trailing-spaces": [2, { "skipBlankLines": true }],
    "eol-last": 0,
    "no-underscore-dangle":0,
    "no-alert":0
  }
}