body {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0px;
    padding-top: 18px;
}

.button {
    background-color: #6A30A3;
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px 10px;
    position: absolute;
    top: 5px;
    right: 10px;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
}
#header {
    border-bottom: solid 1px #000;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 10px;
}
ul{
    text-align: center;
    margin: auto;
}
li {
        display: inline-block;
        width: 350px;
}
li img {
    max-width: 350px;
}
li .caption{
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
        
}
.border {
    border:solid 1px #ccc;
}

.line {
    display: inline-block;
    vertical-align: top;
}
.box {
    padding: 25px;
}
.textList{
    display: inline-block;
    width: 400px;
    height: 400px;
    margin-top: -27px;
    padding: 0px;
}
.textList li{
    padding: 10px;
    border-top: 1px;
    border-bottom: solid 1px #ccc;
    position: relative;
    font-size: 14px;
}

.textList li em {
    color: #6A30A3;
    font-weight: 600;
    font-style: normal;
    text-decoration: underline;
}

#header h1 {
    position: absolute;
    color: #6A30A3;
    left: 20px;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    font-weight: 300;
}
.page{
    padding: 20px;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 90px;
}
.page .text {
    width: 400px;
    margin: auto;
    display: block;
}
.shadow {
    box-shadow: 0px 0px 20px #ccc;
}
.credits {
    font-size: 20px
}
.left {
    float: left;
}
.right {
    float: right;
}
.page h1 {
    font-weight: 300;
    font-size: 45px;
}
.page h2 {
    font-weight: 300;
    font-size: 45px;
}